* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size:2em;
}

.bg {
  background-color: rgb(0, 1, 8);
}

.bg-green-0 {
  background-color: rgb(0, 0, 0);
}

.bg-blue-0 {
  background-color: rgb(0, 0, 0);
}

.box-0 {
  height: 100px;
  width: 100px;
}

.gap-0 {
  gap: 0px;
}

.bg-green-1 {
  background-color: rgb(0, 1, 1);
}

.bg-blue-1 {
  background-color: rgb(0, 1, 8);
}

.box-1 {
  height: 101px;
  width: 101px;
}

.gap-1 {
  gap: 1px;
}

.bg-green-2 {
  background-color: rgb(0, 2, 1);
}

.bg-blue-2 {
  background-color: rgb(0, 2, 16);
}

.box-2 {
  height: 102px;
  width: 102px;
}

.gap-2 {
  gap: 2px;
}

.bg-green-3 {
  background-color: rgb(0, 3, 2);
}

.bg-blue-3 {
  background-color: rgb(0, 3, 24);
}

.box-3 {
  height: 103px;
  width: 103px;
}

.gap-3 {
  gap: 3px;
}

.bg-green-4 {
  background-color: rgb(0, 4, 2);
}

.bg-blue-4 {
  background-color: rgb(0, 4, 32);
}

.box-4 {
  height: 104px;
  width: 104px;
}

.gap-4 {
  gap: 4px;
}

.bg-green-5 {
  background-color: rgb(0, 5, 3);
}

.bg-blue-5 {
  background-color: rgb(0, 5, 40);
}

.box-5 {
  height: 105px;
  width: 105px;
}

.gap-5 {
  gap: 5px;
}

.bg-green-6 {
  background-color: rgb(0, 6, 3);
}

.bg-blue-6 {
  background-color: rgb(0, 6, 48);
}

.box-6 {
  height: 106px;
  width: 106px;
}

.gap-6 {
  gap: 6px;
}

.bg-green-7 {
  background-color: rgb(0, 7, 4);
}

.bg-blue-7 {
  background-color: rgb(0, 7, 56);
}

.box-7 {
  height: 107px;
  width: 107px;
}

.gap-7 {
  gap: 7px;
}

.bg-green-8 {
  background-color: rgb(0, 8, 4);
}

.bg-blue-8 {
  background-color: rgb(0, 8, 64);
}

.box-8 {
  height: 108px;
  width: 108px;
}

.gap-8 {
  gap: 8px;
}

.bg-green-9 {
  background-color: rgb(0, 9, 5);
}

.bg-blue-9 {
  background-color: rgb(0, 9, 72);
}

.box-9 {
  height: 109px;
  width: 109px;
}

.gap-9 {
  gap: 9px;
}

.bg-green-10 {
  background-color: rgb(0, 10, 5);
}

.bg-blue-10 {
  background-color: rgb(0, 10, 80);
}

.box-10 {
  height: 110px;
  width: 110px;
}

.gap-10 {
  gap: 10px;
}

.bg-green-11 {
  background-color: rgb(0, 11, 6);
}

.bg-blue-11 {
  background-color: rgb(0, 11, 88);
}

.box-11 {
  height: 111px;
  width: 111px;
}

.gap-11 {
  gap: 11px;
}

.bg-green-12 {
  background-color: rgb(0, 12, 6);
}

.bg-blue-12 {
  background-color: rgb(0, 12, 96);
}

.box-12 {
  height: 112px;
  width: 112px;
}

.gap-12 {
  gap: 12px;
}

.bg-green-13 {
  background-color: rgb(0, 13, 7);
}

.bg-blue-13 {
  background-color: rgb(0, 13, 104);
}

.box-13 {
  height: 113px;
  width: 113px;
}

.gap-13 {
  gap: 13px;
}

.bg-green-14 {
  background-color: rgb(0, 14, 7);
}

.bg-blue-14 {
  background-color: rgb(0, 14, 112);
}

.box-14 {
  height: 114px;
  width: 114px;
}

.gap-14 {
  gap: 14px;
}

.bg-green-15 {
  background-color: rgb(0, 15, 8);
}

.bg-blue-15 {
  background-color: rgb(0, 15, 120);
}

.box-15 {
  height: 115px;
  width: 115px;
}

.gap-15 {
  gap: 15px;
}

.bg-green-16 {
  background-color: rgb(0, 16, 8);
}

.bg-blue-16 {
  background-color: rgb(0, 16, 128);
}

.box-16 {
  height: 116px;
  width: 116px;
}

.gap-16 {
  gap: 16px;
}

.bg-green-17 {
  background-color: rgb(0, 17, 9);
}

.bg-blue-17 {
  background-color: rgb(0, 17, 136);
}

.box-17 {
  height: 117px;
  width: 117px;
}

.gap-17 {
  gap: 17px;
}

.bg-green-18 {
  background-color: rgb(0, 18, 9);
}

.bg-blue-18 {
  background-color: rgb(0, 18, 144);
}

.box-18 {
  height: 118px;
  width: 118px;
}

.gap-18 {
  gap: 18px;
}

.bg-green-19 {
  background-color: rgb(0, 19, 10);
}

.bg-blue-19 {
  background-color: rgb(0, 19, 152);
}

.box-19 {
  height: 119px;
  width: 119px;
}

.gap-19 {
  gap: 19px;
}

.bg-green-20 {
  background-color: rgb(0, 20, 10);
}

.bg-blue-20 {
  background-color: rgb(0, 20, 160);
}

.box-20 {
  height: 120px;
  width: 120px;
}

.gap-20 {
  gap: 20px;
}

.bg-green-21 {
  background-color: rgb(0, 21, 11);
}

.bg-blue-21 {
  background-color: rgb(0, 21, 168);
}

.box-21 {
  height: 121px;
  width: 121px;
}

.gap-21 {
  gap: 21px;
}

.bg-green-22 {
  background-color: rgb(0, 22, 11);
}

.bg-blue-22 {
  background-color: rgb(0, 22, 176);
}

.box-22 {
  height: 122px;
  width: 122px;
}

.gap-22 {
  gap: 22px;
}

.bg-green-23 {
  background-color: rgb(0, 23, 12);
}

.bg-blue-23 {
  background-color: rgb(0, 23, 184);
}

.box-23 {
  height: 123px;
  width: 123px;
}

.gap-23 {
  gap: 23px;
}

.bg-green-24 {
  background-color: rgb(0, 24, 12);
}

.bg-blue-24 {
  background-color: rgb(0, 24, 192);
}

.box-24 {
  height: 124px;
  width: 124px;
}

.gap-24 {
  gap: 24px;
}

.bg-green-25 {
  background-color: rgb(0, 25, 13);
}

.bg-blue-25 {
  background-color: rgb(0, 25, 200);
}

.box-25 {
  height: 125px;
  width: 125px;
}

.gap-25 {
  gap: 25px;
}

.bg-green-26 {
  background-color: rgb(0, 26, 13);
}

.bg-blue-26 {
  background-color: rgb(0, 26, 208);
}

.box-26 {
  height: 126px;
  width: 126px;
}

.gap-26 {
  gap: 26px;
}

.bg-green-27 {
  background-color: rgb(0, 27, 14);
}

.bg-blue-27 {
  background-color: rgb(0, 27, 216);
}

.box-27 {
  height: 127px;
  width: 127px;
}

.gap-27 {
  gap: 27px;
}

.bg-green-28 {
  background-color: rgb(0, 28, 14);
}

.bg-blue-28 {
  background-color: rgb(0, 28, 224);
}

.box-28 {
  height: 128px;
  width: 128px;
}

.gap-28 {
  gap: 28px;
}

.bg-green-29 {
  background-color: rgb(0, 29, 15);
}

.bg-blue-29 {
  background-color: rgb(0, 29, 232);
}

.box-29 {
  height: 129px;
  width: 129px;
}

.gap-29 {
  gap: 29px;
}

.bg-green-30 {
  background-color: rgb(0, 30, 15);
}

.bg-blue-30 {
  background-color: rgb(0, 30, 240);
}

.box-30 {
  height: 130px;
  width: 130px;
}

.gap-30 {
  gap: 30px;
}

.bg-green-31 {
  background-color: rgb(0, 31, 16);
}

.bg-blue-31 {
  background-color: rgb(0, 31, 248);
}

.box-31 {
  height: 131px;
  width: 131px;
}

.gap-31 {
  gap: 31px;
}

.bg-green-32 {
  background-color: rgb(0, 32, 16);
}

.bg-blue-32 {
  background-color: rgb(0, 32, 64);
}

.box-32 {
  height: 132px;
  width: 132px;
}

.gap-32 {
  gap: 32px;
}

.bg-green-33 {
  background-color: rgb(0, 33, 17);
}

.bg-blue-33 {
  background-color: rgb(0, 33, 66);
}

.box-33 {
  height: 133px;
  width: 133px;
}

.gap-33 {
  gap: 33px;
}

.bg-green-34 {
  background-color: rgb(0, 34, 17);
}

.bg-blue-34 {
  background-color: rgb(0, 34, 68);
}

.box-34 {
  height: 134px;
  width: 134px;
}

.gap-34 {
  gap: 34px;
}

.bg-green-35 {
  background-color: rgb(0, 35, 18);
}

.bg-blue-35 {
  background-color: rgb(0, 35, 70);
}

.box-35 {
  height: 135px;
  width: 135px;
}

.gap-35 {
  gap: 35px;
}

.bg-green-36 {
  background-color: rgb(0, 36, 18);
}

.bg-blue-36 {
  background-color: rgb(0, 36, 72);
}

.box-36 {
  height: 136px;
  width: 136px;
}

.gap-36 {
  gap: 36px;
}

.bg-green-37 {
  background-color: rgb(0, 37, 19);
}

.bg-blue-37 {
  background-color: rgb(0, 37, 74);
}

.box-37 {
  height: 137px;
  width: 137px;
}

.gap-37 {
  gap: 37px;
}

.bg-green-38 {
  background-color: rgb(0, 38, 19);
}

.bg-blue-38 {
  background-color: rgb(0, 38, 76);
}

.box-38 {
  height: 138px;
  width: 138px;
}

.gap-38 {
  gap: 38px;
}

.bg-green-39 {
  background-color: rgb(0, 39, 20);
}

.bg-blue-39 {
  background-color: rgb(0, 39, 78);
}

.box-39 {
  height: 139px;
  width: 139px;
}

.gap-39 {
  gap: 39px;
}

.bg-green-40 {
  background-color: rgb(0, 40, 20);
}

.bg-blue-40 {
  background-color: rgb(0, 40, 80);
}

.box-40 {
  height: 140px;
  width: 140px;
}

.gap-40 {
  gap: 40px;
}

.bg-green-41 {
  background-color: rgb(0, 41, 21);
}

.bg-blue-41 {
  background-color: rgb(0, 41, 82);
}

.box-41 {
  height: 141px;
  width: 141px;
}

.gap-41 {
  gap: 41px;
}

.bg-green-42 {
  background-color: rgb(0, 42, 21);
}

.bg-blue-42 {
  background-color: rgb(0, 42, 84);
}

.box-42 {
  height: 142px;
  width: 142px;
}

.gap-42 {
  gap: 42px;
}

.bg-green-43 {
  background-color: rgb(0, 43, 22);
}

.bg-blue-43 {
  background-color: rgb(0, 43, 86);
}

.box-43 {
  height: 143px;
  width: 143px;
}

.gap-43 {
  gap: 43px;
}

.bg-green-44 {
  background-color: rgb(0, 44, 22);
}

.bg-blue-44 {
  background-color: rgb(0, 44, 88);
}

.box-44 {
  height: 144px;
  width: 144px;
}

.gap-44 {
  gap: 44px;
}

.bg-green-45 {
  background-color: rgb(0, 45, 23);
}

.bg-blue-45 {
  background-color: rgb(0, 45, 90);
}

.box-45 {
  height: 145px;
  width: 145px;
}

.gap-45 {
  gap: 45px;
}

.bg-green-46 {
  background-color: rgb(0, 46, 23);
}

.bg-blue-46 {
  background-color: rgb(0, 46, 92);
}

.box-46 {
  height: 146px;
  width: 146px;
}

.gap-46 {
  gap: 46px;
}

.bg-green-47 {
  background-color: rgb(0, 47, 24);
}

.bg-blue-47 {
  background-color: rgb(0, 47, 94);
}

.box-47 {
  height: 147px;
  width: 147px;
}

.gap-47 {
  gap: 47px;
}

.bg-green-48 {
  background-color: rgb(0, 48, 24);
}

.bg-blue-48 {
  background-color: rgb(0, 48, 96);
}

.box-48 {
  height: 148px;
  width: 148px;
}

.gap-48 {
  gap: 48px;
}

.bg-green-49 {
  background-color: rgb(0, 49, 25);
}

.bg-blue-49 {
  background-color: rgb(0, 49, 98);
}

.box-49 {
  height: 149px;
  width: 149px;
}

.gap-49 {
  gap: 49px;
}

.bg-green-50 {
  background-color: rgb(0, 50, 25);
}

.bg-blue-50 {
  background-color: rgb(0, 50, 100);
}

.box-50 {
  height: 150px;
  width: 150px;
}

.gap-50 {
  gap: 50px;
}

.bg-green-51 {
  background-color: rgb(0, 51, 26);
}

.bg-blue-51 {
  background-color: rgb(0, 51, 102);
}

.box-51 {
  height: 151px;
  width: 151px;
}

.gap-51 {
  gap: 51px;
}

.bg-green-52 {
  background-color: rgb(0, 52, 26);
}

.bg-blue-52 {
  background-color: rgb(0, 52, 104);
}

.box-52 {
  height: 152px;
  width: 152px;
}

.gap-52 {
  gap: 52px;
}

.bg-green-53 {
  background-color: rgb(0, 53, 27);
}

.bg-blue-53 {
  background-color: rgb(0, 53, 106);
}

.box-53 {
  height: 153px;
  width: 153px;
}

.gap-53 {
  gap: 53px;
}

.bg-green-54 {
  background-color: rgb(0, 54, 27);
}

.bg-blue-54 {
  background-color: rgb(0, 54, 108);
}

.box-54 {
  height: 154px;
  width: 154px;
}

.gap-54 {
  gap: 54px;
}

.bg-green-55 {
  background-color: rgb(0, 55, 28);
}

.bg-blue-55 {
  background-color: rgb(0, 55, 110);
}

.box-55 {
  height: 155px;
  width: 155px;
}

.gap-55 {
  gap: 55px;
}

.bg-green-56 {
  background-color: rgb(0, 56, 28);
}

.bg-blue-56 {
  background-color: rgb(0, 56, 112);
}

.box-56 {
  height: 156px;
  width: 156px;
}

.gap-56 {
  gap: 56px;
}

.bg-green-57 {
  background-color: rgb(0, 57, 29);
}

.bg-blue-57 {
  background-color: rgb(0, 57, 114);
}

.box-57 {
  height: 157px;
  width: 157px;
}

.gap-57 {
  gap: 57px;
}

.bg-green-58 {
  background-color: rgb(0, 58, 29);
}

.bg-blue-58 {
  background-color: rgb(0, 58, 116);
}

.box-58 {
  height: 158px;
  width: 158px;
}

.gap-58 {
  gap: 58px;
}

.bg-green-59 {
  background-color: rgb(0, 59, 30);
}

.bg-blue-59 {
  background-color: rgb(0, 59, 118);
}

.box-59 {
  height: 159px;
  width: 159px;
}

.gap-59 {
  gap: 59px;
}

.bg-green-60 {
  background-color: rgb(0, 60, 30);
}

.bg-blue-60 {
  background-color: rgb(0, 60, 120);
}

.box-60 {
  height: 160px;
  width: 160px;
}

.gap-60 {
  gap: 60px;
}

.bg-green-61 {
  background-color: rgb(0, 61, 31);
}

.bg-blue-61 {
  background-color: rgb(0, 61, 122);
}

.box-61 {
  height: 161px;
  width: 161px;
}

.gap-61 {
  gap: 61px;
}

.bg-green-62 {
  background-color: rgb(0, 62, 31);
}

.bg-blue-62 {
  background-color: rgb(0, 62, 124);
}

.box-62 {
  height: 162px;
  width: 162px;
}

.gap-62 {
  gap: 62px;
}

.bg-green-63 {
  background-color: rgb(0, 63, 32);
}

.bg-blue-63 {
  background-color: rgb(0, 63, 126);
}

.box-63 {
  height: 163px;
  width: 163px;
}

.gap-63 {
  gap: 63px;
}

.bg-green-64 {
  background-color: rgb(0, 64, 32);
}

.bg-blue-64 {
  background-color: rgb(0, 64, 128);
}

.box-64 {
  height: 164px;
  width: 164px;
}

.gap-64 {
  gap: 64px;
}

.bg-green-65 {
  background-color: rgb(0, 65, 33);
}

.bg-blue-65 {
  background-color: rgb(0, 65, 130);
}

.box-65 {
  height: 165px;
  width: 165px;
}

.gap-65 {
  gap: 65px;
}

.bg-green-66 {
  background-color: rgb(0, 66, 33);
}

.bg-blue-66 {
  background-color: rgb(0, 66, 132);
}

.box-66 {
  height: 166px;
  width: 166px;
}

.gap-66 {
  gap: 66px;
}

.bg-green-67 {
  background-color: rgb(0, 67, 34);
}

.bg-blue-67 {
  background-color: rgb(0, 67, 134);
}

.box-67 {
  height: 167px;
  width: 167px;
}

.gap-67 {
  gap: 67px;
}

.bg-green-68 {
  background-color: rgb(0, 68, 34);
}

.bg-blue-68 {
  background-color: rgb(0, 68, 136);
}

.box-68 {
  height: 168px;
  width: 168px;
}

.gap-68 {
  gap: 68px;
}

.bg-green-69 {
  background-color: rgb(0, 69, 35);
}

.bg-blue-69 {
  background-color: rgb(0, 69, 138);
}

.box-69 {
  height: 169px;
  width: 169px;
}

.gap-69 {
  gap: 69px;
}

.bg-green-70 {
  background-color: rgb(0, 70, 35);
}

.bg-blue-70 {
  background-color: rgb(0, 70, 140);
}

.box-70 {
  height: 170px;
  width: 170px;
}

.gap-70 {
  gap: 70px;
}

.bg-green-71 {
  background-color: rgb(0, 71, 36);
}

.bg-blue-71 {
  background-color: rgb(0, 71, 142);
}

.box-71 {
  height: 171px;
  width: 171px;
}

.gap-71 {
  gap: 71px;
}

.bg-green-72 {
  background-color: rgb(0, 72, 36);
}

.bg-blue-72 {
  background-color: rgb(0, 72, 144);
}

.box-72 {
  height: 172px;
  width: 172px;
}

.gap-72 {
  gap: 72px;
}

.bg-green-73 {
  background-color: rgb(0, 73, 37);
}

.bg-blue-73 {
  background-color: rgb(0, 73, 146);
}

.box-73 {
  height: 173px;
  width: 173px;
}

.gap-73 {
  gap: 73px;
}

.bg-green-74 {
  background-color: rgb(0, 74, 37);
}

.bg-blue-74 {
  background-color: rgb(0, 74, 148);
}

.box-74 {
  height: 174px;
  width: 174px;
}

.gap-74 {
  gap: 74px;
}

.bg-green-75 {
  background-color: rgb(0, 75, 38);
}

.bg-blue-75 {
  background-color: rgb(0, 75, 150);
}

.box-75 {
  height: 175px;
  width: 175px;
}

.gap-75 {
  gap: 75px;
}

.bg-green-76 {
  background-color: rgb(0, 76, 38);
}

.bg-blue-76 {
  background-color: rgb(0, 76, 152);
}

.box-76 {
  height: 176px;
  width: 176px;
}

.gap-76 {
  gap: 76px;
}

.bg-green-77 {
  background-color: rgb(0, 77, 39);
}

.bg-blue-77 {
  background-color: rgb(0, 77, 154);
}

.box-77 {
  height: 177px;
  width: 177px;
}

.gap-77 {
  gap: 77px;
}

.bg-green-78 {
  background-color: rgb(0, 78, 39);
}

.bg-blue-78 {
  background-color: rgb(0, 78, 156);
}

.box-78 {
  height: 178px;
  width: 178px;
}

.gap-78 {
  gap: 78px;
}

.bg-green-79 {
  background-color: rgb(0, 79, 40);
}

.bg-blue-79 {
  background-color: rgb(0, 79, 158);
}

.box-79 {
  height: 179px;
  width: 179px;
}

.gap-79 {
  gap: 79px;
}

.bg-green-80 {
  background-color: rgb(0, 80, 40);
}

.bg-blue-80 {
  background-color: rgb(0, 80, 160);
}

.box-80 {
  height: 180px;
  width: 180px;
}

.gap-80 {
  gap: 80px;
}

.bg-green-81 {
  background-color: rgb(0, 81, 41);
}

.bg-blue-81 {
  background-color: rgb(0, 81, 162);
}

.box-81 {
  height: 181px;
  width: 181px;
}

.gap-81 {
  gap: 81px;
}

.bg-green-82 {
  background-color: rgb(0, 82, 41);
}

.bg-blue-82 {
  background-color: rgb(0, 82, 164);
}

.box-82 {
  height: 182px;
  width: 182px;
}

.gap-82 {
  gap: 82px;
}

.bg-green-83 {
  background-color: rgb(0, 83, 42);
}

.bg-blue-83 {
  background-color: rgb(0, 83, 166);
}

.box-83 {
  height: 183px;
  width: 183px;
}

.gap-83 {
  gap: 83px;
}

.bg-green-84 {
  background-color: rgb(0, 84, 42);
}

.bg-blue-84 {
  background-color: rgb(0, 84, 168);
}

.box-84 {
  height: 184px;
  width: 184px;
}

.gap-84 {
  gap: 84px;
}

.bg-green-85 {
  background-color: rgb(0, 85, 43);
}

.bg-blue-85 {
  background-color: rgb(0, 85, 170);
}

.box-85 {
  height: 185px;
  width: 185px;
}

.gap-85 {
  gap: 85px;
}

.bg-green-86 {
  background-color: rgb(0, 86, 43);
}

.bg-blue-86 {
  background-color: rgb(0, 86, 172);
}

.box-86 {
  height: 186px;
  width: 186px;
}

.gap-86 {
  gap: 86px;
}

.bg-green-87 {
  background-color: rgb(0, 87, 44);
}

.bg-blue-87 {
  background-color: rgb(0, 87, 174);
}

.box-87 {
  height: 187px;
  width: 187px;
}

.gap-87 {
  gap: 87px;
}

.bg-green-88 {
  background-color: rgb(0, 88, 44);
}

.bg-blue-88 {
  background-color: rgb(0, 88, 176);
}

.box-88 {
  height: 188px;
  width: 188px;
}

.gap-88 {
  gap: 88px;
}

.bg-green-89 {
  background-color: rgb(0, 89, 45);
}

.bg-blue-89 {
  background-color: rgb(0, 89, 178);
}

.box-89 {
  height: 189px;
  width: 189px;
}

.gap-89 {
  gap: 89px;
}

.bg-green-90 {
  background-color: rgb(0, 90, 45);
}

.bg-blue-90 {
  background-color: rgb(0, 90, 180);
}

.box-90 {
  height: 190px;
  width: 190px;
}

.gap-90 {
  gap: 90px;
}

.bg-green-91 {
  background-color: rgb(0, 91, 46);
}

.bg-blue-91 {
  background-color: rgb(0, 91, 182);
}

.box-91 {
  height: 191px;
  width: 191px;
}

.gap-91 {
  gap: 91px;
}

.bg-green-92 {
  background-color: rgb(0, 92, 46);
}

.bg-blue-92 {
  background-color: rgb(0, 92, 184);
}

.box-92 {
  height: 192px;
  width: 192px;
}

.gap-92 {
  gap: 92px;
}

.bg-green-93 {
  background-color: rgb(0, 93, 47);
}

.bg-blue-93 {
  background-color: rgb(0, 93, 186);
}

.box-93 {
  height: 193px;
  width: 193px;
}

.gap-93 {
  gap: 93px;
}

.bg-green-94 {
  background-color: rgb(0, 94, 47);
}

.bg-blue-94 {
  background-color: rgb(0, 94, 188);
}

.box-94 {
  height: 194px;
  width: 194px;
}

.gap-94 {
  gap: 94px;
}

.bg-green-95 {
  background-color: rgb(0, 95, 48);
}

.bg-blue-95 {
  background-color: rgb(0, 95, 190);
}

.box-95 {
  height: 195px;
  width: 195px;
}

.gap-95 {
  gap: 95px;
}

.bg-green-96 {
  background-color: rgb(0, 96, 48);
}

.bg-blue-96 {
  background-color: rgb(0, 96, 192);
}

.box-96 {
  height: 196px;
  width: 196px;
}

.gap-96 {
  gap: 96px;
}

.bg-green-97 {
  background-color: rgb(0, 97, 49);
}

.bg-blue-97 {
  background-color: rgb(0, 97, 194);
}

.box-97 {
  height: 197px;
  width: 197px;
}

.gap-97 {
  gap: 97px;
}

.bg-green-98 {
  background-color: rgb(0, 98, 49);
}

.bg-blue-98 {
  background-color: rgb(0, 98, 196);
}

.box-98 {
  height: 198px;
  width: 198px;
}

.gap-98 {
  gap: 98px;
}

.bg-green-99 {
  background-color: rgb(0, 99, 50);
}

.bg-blue-99 {
  background-color: rgb(0, 99, 198);
}

.box-99 {
  height: 199px;
  width: 199px;
}

.gap-99 {
  gap: 99px;
}

.bg-green-100 {
  background-color: rgb(0, 100, 50);
}

.hi {
  background-color: antiquewhite;
}

.box-100 {
  height: 200px;
  width: 200px;
}

.gap-100 {
  gap: 100px;
}

.bg-green-101 {
  background-color: rgb(0, 101, 51);
}

.bg-blue-101 {
  background-color: rgb(0, 101, 202);
}

.box-101 {
  height: 201px;
  width: 201px;
}

.gap-101 {
  gap: 101px;
}

.bg-green-102 {
  background-color: rgb(0, 102, 51);
}

.bg-blue-102 {
  background-color: rgb(0, 102, 204);
}

.box-102 {
  height: 202px;
  width: 202px;
}

.gap-102 {
  gap: 102px;
}

.bg-green-103 {
  background-color: rgb(0, 103, 52);
}

.bg-blue-103 {
  background-color: rgb(0, 103, 206);
}

.box-103 {
  height: 203px;
  width: 203px;
}

.gap-103 {
  gap: 103px;
}

.bg-green-104 {
  background-color: rgb(0, 104, 52);
}

.bg-blue-104 {
  background-color: rgb(0, 104, 208);
}

.box-104 {
  height: 204px;
  width: 204px;
}

.gap-104 {
  gap: 104px;
}

.bg-green-105 {
  background-color: rgb(0, 105, 53);
}

.bg-blue-105 {
  background-color: rgb(0, 105, 210);
}

.box-105 {
  height: 205px;
  width: 205px;
}

.gap-105 {
  gap: 105px;
}

.bg-green-106 {
  background-color: rgb(0, 106, 53);
}

.bg-blue-106 {
  background-color: rgb(0, 106, 212);
}

.box-106 {
  height: 206px;
  width: 206px;
}

.gap-106 {
  gap: 106px;
}

.bg-green-107 {
  background-color: rgb(0, 107, 54);
}

.bg-blue-107 {
  background-color: rgb(0, 107, 214);
}

.box-107 {
  height: 207px;
  width: 207px;
}

.gap-107 {
  gap: 107px;
}

.bg-green-108 {
  background-color: rgb(0, 108, 54);
}

.bg-blue-108 {
  background-color: rgb(0, 108, 216);
}

.box-108 {
  height: 208px;
  width: 208px;
}

.gap-108 {
  gap: 108px;
}

.bg-green-109 {
  background-color: rgb(0, 109, 55);
}

.bg-blue-109 {
  background-color: rgb(0, 109, 218);
}

.box-109 {
  height: 209px;
  width: 209px;
}

.gap-109 {
  gap: 109px;
}

.bg-green-110 {
  background-color: rgb(0, 110, 55);
}

.bg-blue-110 {
  background-color: rgb(0, 110, 220);
}

.box-110 {
  height: 210px;
  width: 210px;
}

.gap-110 {
  gap: 110px;
}

.bg-green-111 {
  background-color: rgb(0, 111, 56);
}

.bg-blue-111 {
  background-color: rgb(0, 111, 222);
}

.box-111 {
  height: 211px;
  width: 211px;
}

.gap-111 {
  gap: 111px;
}

.bg-green-112 {
  background-color: rgb(0, 112, 56);
}

.bg-blue-112 {
  background-color: rgb(0, 112, 224);
}

.box-112 {
  height: 212px;
  width: 212px;
}

.gap-112 {
  gap: 112px;
}

.bg-green-113 {
  background-color: rgb(0, 113, 57);
}

.bg-blue-113 {
  background-color: rgb(0, 113, 226);
}

.box-113 {
  height: 213px;
  width: 213px;
}

.gap-113 {
  gap: 113px;
}

.bg-green-114 {
  background-color: rgb(0, 114, 57);
}

.bg-blue-114 {
  background-color: rgb(0, 114, 228);
}

.box-114 {
  height: 214px;
  width: 214px;
}

.gap-114 {
  gap: 114px;
}

.bg-green-115 {
  background-color: rgb(0, 115, 58);
}

.bg-blue-115 {
  background-color: rgb(0, 115, 230);
}

.box-115 {
  height: 215px;
  width: 215px;
}

.gap-115 {
  gap: 115px;
}

.bg-green-116 {
  background-color: rgb(0, 116, 58);
}

.bg-blue-116 {
  background-color: rgb(0, 116, 232);
}

.box-116 {
  height: 216px;
  width: 216px;
}

.gap-116 {
  gap: 116px;
}

.bg-green-117 {
  background-color: rgb(0, 117, 59);
}

.bg-blue-117 {
  background-color: rgb(0, 117, 234);
}

.box-117 {
  height: 217px;
  width: 217px;
}

.gap-117 {
  gap: 117px;
}

.bg-green-118 {
  background-color: rgb(0, 118, 59);
}

.bg-blue-118 {
  background-color: rgb(0, 118, 236);
}

.box-118 {
  height: 218px;
  width: 218px;
}

.gap-118 {
  gap: 118px;
}

.bg-green-119 {
  background-color: rgb(0, 119, 60);
}

.bg-blue-119 {
  background-color: rgb(0, 119, 238);
}

.box-119 {
  height: 219px;
  width: 219px;
}

.gap-119 {
  gap: 119px;
}

.bg-green-120 {
  background-color: rgb(0, 120, 60);
}

.bg-blue-120 {
  background-color: rgb(0, 120, 240);
}

.box-120 {
  height: 220px;
  width: 220px;
}

.gap-120 {
  gap: 120px;
}

.bg-green-121 {
  background-color: rgb(0, 121, 61);
}

.bg-blue-121 {
  background-color: rgb(0, 121, 242);
}

.box-121 {
  height: 221px;
  width: 221px;
}

.gap-121 {
  gap: 121px;
}

.bg-green-122 {
  background-color: rgb(0, 122, 61);
}

.bg-blue-122 {
  background-color: rgb(0, 122, 244);
}

.box-122 {
  height: 222px;
  width: 222px;
}

.gap-122 {
  gap: 122px;
}

.bg-green-123 {
  background-color: rgb(0, 123, 62);
}

.bg-blue-123 {
  background-color: rgb(0, 123, 246);
}

.box-123 {
  height: 223px;
  width: 223px;
}

.gap-123 {
  gap: 123px;
}

.bg-green-124 {
  background-color: rgb(0, 124, 62);
}

.bg-blue-124 {
  background-color: rgb(0, 124, 248);
}

.box-124 {
  height: 224px;
  width: 224px;
}

.gap-124 {
  gap: 124px;
}

.bg-green-125 {
  background-color: rgb(0, 125, 63);
}

.bg-blue-125 {
  background-color: rgb(0, 125, 250);
}

.box-125 {
  height: 225px;
  width: 225px;
}

.gap-125 {
  gap: 125px;
}

.bg-green-126 {
  background-color: rgb(0, 126, 63);
}

.bg-blue-126 {
  background-color: rgb(0, 126, 252);
}

.box-126 {
  height: 226px;
  width: 226px;
}

.gap-126 {
  gap: 126px;
}

.bg-green-127 {
  background-color: rgb(0, 127, 64);
}

.bg-blue-127 {
  background-color: rgb(0, 127, 254);
}

.box-127 {
  height: 227px;
  width: 227px;
}

.gap-127 {
  gap: 127px;
}

.bg-green-128 {
  background-color: rgb(0, 128, 64);
}

.bg-blue-128 {
  background-color: rgb(0, 128, 255);
}

.box-128 {
  height: 228px;
  width: 228px;
}

.gap-128 {
  gap: 128px;
}

.bg-green-129 {
  background-color: rgb(0, 129, 65);
}

.bg-blue-129 {
  background-color: rgb(0, 129, 255);
}

.box-129 {
  height: 229px;
  width: 229px;
}

.gap-129 {
  gap: 129px;
}

.bg-green-130 {
  background-color: rgb(0, 130, 65);
}

.bg-blue-130 {
  background-color: rgb(0, 130, 255);
}

.box-130 {
  height: 230px;
  width: 230px;
}

.gap-130 {
  gap: 130px;
}

.bg-green-131 {
  background-color: rgb(0, 131, 66);
}

.bg-blue-131 {
  background-color: rgb(0, 131, 255);
}

.box-131 {
  height: 231px;
  width: 231px;
}

.gap-131 {
  gap: 131px;
}

.bg-green-132 {
  background-color: rgb(0, 132, 66);
}

.bg-blue-132 {
  background-color: rgb(0, 132, 255);
}

.box-132 {
  height: 232px;
  width: 232px;
}

.gap-132 {
  gap: 132px;
}

.bg-green-133 {
  background-color: rgb(0, 133, 67);
}

.bg-blue-133 {
  background-color: rgb(0, 133, 255);
}

.box-133 {
  height: 233px;
  width: 233px;
}

.gap-133 {
  gap: 133px;
}

.bg-green-134 {
  background-color: rgb(0, 134, 67);
}

.bg-blue-134 {
  background-color: rgb(0, 134, 255);
}

.box-134 {
  height: 234px;
  width: 234px;
}

.gap-134 {
  gap: 134px;
}

.bg-green-135 {
  background-color: rgb(0, 135, 68);
}

.bg-blue-135 {
  background-color: rgb(0, 135, 255);
}

.box-135 {
  height: 235px;
  width: 235px;
}

.gap-135 {
  gap: 135px;
}

.bg-green-136 {
  background-color: rgb(0, 136, 68);
}

.bg-blue-136 {
  background-color: rgb(0, 136, 255);
}

.box-136 {
  height: 236px;
  width: 236px;
}

.gap-136 {
  gap: 136px;
}

.bg-green-137 {
  background-color: rgb(0, 137, 69);
}

.bg-blue-137 {
  background-color: rgb(0, 137, 255);
}

.box-137 {
  height: 237px;
  width: 237px;
}

.gap-137 {
  gap: 137px;
}

.bg-green-138 {
  background-color: rgb(0, 138, 69);
}

.bg-blue-138 {
  background-color: rgb(0, 138, 255);
}

.box-138 {
  height: 238px;
  width: 238px;
}

.gap-138 {
  gap: 138px;
}

.bg-green-139 {
  background-color: rgb(0, 139, 70);
}

.bg-blue-139 {
  background-color: rgb(0, 139, 255);
}

.box-139 {
  height: 239px;
  width: 239px;
}

.gap-139 {
  gap: 139px;
}

.bg-green-140 {
  background-color: rgb(0, 140, 70);
}

.bg-blue-140 {
  background-color: rgb(0, 140, 255);
}

.box-140 {
  height: 240px;
  width: 240px;
}

.gap-140 {
  gap: 140px;
}

.bg-green-141 {
  background-color: rgb(0, 141, 71);
}

.bg-blue-141 {
  background-color: rgb(0, 141, 255);
}

.box-141 {
  height: 241px;
  width: 241px;
}

.gap-141 {
  gap: 141px;
}

.bg-green-142 {
  background-color: rgb(0, 142, 71);
}

.bg-blue-142 {
  background-color: rgb(0, 142, 255);
}

.box-142 {
  height: 242px;
  width: 242px;
}

.gap-142 {
  gap: 142px;
}

.bg-green-143 {
  background-color: rgb(0, 143, 72);
}

.bg-blue-143 {
  background-color: rgb(0, 143, 255);
}

.box-143 {
  height: 243px;
  width: 243px;
}

.gap-143 {
  gap: 143px;
}

.bg-green-144 {
  background-color: rgb(0, 144, 72);
}

.bg-blue-144 {
  background-color: rgb(0, 144, 255);
}

.box-144 {
  height: 244px;
  width: 244px;
}

.gap-144 {
  gap: 144px;
}

.bg-green-145 {
  background-color: rgb(0, 145, 73);
}

.bg-blue-145 {
  background-color: rgb(0, 145, 255);
}

.box-145 {
  height: 245px;
  width: 245px;
}

.gap-145 {
  gap: 145px;
}

.bg-green-146 {
  background-color: rgb(0, 146, 73);
}

.bg-blue-146 {
  background-color: rgb(0, 146, 255);
}

.box-146 {
  height: 246px;
  width: 246px;
}

.gap-146 {
  gap: 146px;
}

.bg-green-147 {
  background-color: rgb(0, 147, 74);
}

.bg-blue-147 {
  background-color: rgb(0, 147, 255);
}

.box-147 {
  height: 247px;
  width: 247px;
}

.gap-147 {
  gap: 147px;
}

.bg-green-148 {
  background-color: rgb(0, 148, 74);
}

.bg-blue-148 {
  background-color: rgb(0, 148, 255);
}

.box-148 {
  height: 248px;
  width: 248px;
}

.gap-148 {
  gap: 148px;
}

.bg-green-149 {
  background-color: rgb(0, 149, 75);
}

.bg-blue-149 {
  background-color: rgb(0, 149, 255);
}

.box-149 {
  height: 249px;
  width: 249px;
}

.gap-149 {
  gap: 149px;
}

.bg-green-150 {
  background-color: rgb(0, 150, 75);
}

.bg-blue-150 {
  background-color: rgb(0, 150, 255);
}

.box-150 {
  height: 250px;
  width: 250px;
}

.gap-150 {
  gap: 150px;
}

.bg-green-151 {
  background-color: rgb(0, 151, 76);
}

.bg-blue-151 {
  background-color: rgb(0, 151, 255);
}

.box-151 {
  height: 251px;
  width: 251px;
}

.gap-151 {
  gap: 151px;
}

.bg-green-152 {
  background-color: rgb(0, 152, 76);
}

.bg-blue-152 {
  background-color: rgb(0, 152, 255);
}

.box-152 {
  height: 252px;
  width: 252px;
}

.gap-152 {
  gap: 152px;
}

.bg-green-153 {
  background-color: rgb(0, 153, 77);
}

.bg-blue-153 {
  background-color: rgb(0, 153, 255);
}

.box-153 {
  height: 253px;
  width: 253px;
}

.gap-153 {
  gap: 153px;
}

.bg-green-154 {
  background-color: rgb(0, 154, 77);
}

.bg-blue-154 {
  background-color: rgb(0, 154, 255);
}

.box-154 {
  height: 254px;
  width: 254px;
}

.gap-154 {
  gap: 154px;
}

.bg-green-155 {
  background-color: rgb(0, 155, 78);
}

.bg-blue-155 {
  background-color: rgb(0, 155, 255);
}

.box-155 {
  height: 255px;
  width: 255px;
}

.gap-155 {
  gap: 155px;
}

.bg-green-156 {
  background-color: rgb(0, 156, 78);
}

.bg-blue-156 {
  background-color: rgb(0, 156, 255);
}

.box-156 {
  height: 256px;
  width: 256px;
}

.gap-156 {
  gap: 156px;
}

.bg-green-157 {
  background-color: rgb(0, 157, 79);
}

.bg-blue-157 {
  background-color: rgb(0, 157, 255);
}

.box-157 {
  height: 257px;
  width: 257px;
}

.gap-157 {
  gap: 157px;
}

.bg-green-158 {
  background-color: rgb(0, 158, 79);
}

.bg-blue-158 {
  background-color: rgb(0, 158, 255);
}

.box-158 {
  height: 258px;
  width: 258px;
}

.gap-158 {
  gap: 158px;
}

.bg-green-159 {
  background-color: rgb(0, 159, 80);
}

.bg-blue-159 {
  background-color: rgb(0, 159, 255);
}

.box-159 {
  height: 259px;
  width: 259px;
}

.gap-159 {
  gap: 159px;
}

.bg-green-160 {
  background-color: rgb(0, 160, 80);
}

.bg-blue-160 {
  background-color: rgb(0, 160, 255);
}

.box-160 {
  height: 260px;
  width: 260px;
}

.gap-160 {
  gap: 160px;
}

.bg-green-161 {
  background-color: rgb(0, 161, 81);
}

.bg-blue-161 {
  background-color: rgb(0, 161, 255);
}

.box-161 {
  height: 261px;
  width: 261px;
}

.gap-161 {
  gap: 161px;
}

.bg-green-162 {
  background-color: rgb(0, 162, 81);
}

.bg-blue-162 {
  background-color: rgb(0, 162, 255);
}

.box-162 {
  height: 262px;
  width: 262px;
}

.gap-162 {
  gap: 162px;
}

.bg-green-163 {
  background-color: rgb(0, 163, 82);
}

.bg-blue-163 {
  background-color: rgb(0, 163, 255);
}

.box-163 {
  height: 263px;
  width: 263px;
}

.gap-163 {
  gap: 163px;
}

.bg-green-164 {
  background-color: rgb(0, 164, 82);
}

.bg-blue-164 {
  background-color: rgb(0, 164, 255);
}

.box-164 {
  height: 264px;
  width: 264px;
}

.gap-164 {
  gap: 164px;
}

.bg-green-165 {
  background-color: rgb(0, 165, 83);
}

.bg-blue-165 {
  background-color: rgb(0, 165, 255);
}

.box-165 {
  height: 265px;
  width: 265px;
}

.gap-165 {
  gap: 165px;
}

.bg-green-166 {
  background-color: rgb(0, 166, 83);
}

.bg-blue-166 {
  background-color: rgb(0, 166, 255);
}

.box-166 {
  height: 266px;
  width: 266px;
}

.gap-166 {
  gap: 166px;
}

.bg-green-167 {
  background-color: rgb(0, 167, 84);
}

.bg-blue-167 {
  background-color: rgb(0, 167, 255);
}

.box-167 {
  height: 267px;
  width: 267px;
}

.gap-167 {
  gap: 167px;
}

.bg-green-168 {
  background-color: rgb(0, 168, 84);
}

.bg-blue-168 {
  background-color: rgb(0, 168, 255);
}

.box-168 {
  height: 268px;
  width: 268px;
}

.gap-168 {
  gap: 168px;
}

.bg-green-169 {
  background-color: rgb(0, 169, 85);
}

.bg-blue-169 {
  background-color: rgb(0, 169, 255);
}

.box-169 {
  height: 269px;
  width: 269px;
}

.gap-169 {
  gap: 169px;
}

.bg-green-170 {
  background-color: rgb(0, 170, 85);
}

.bg-blue-170 {
  background-color: rgb(0, 170, 255);
}

.box-170 {
  height: 270px;
  width: 270px;
}

.gap-170 {
  gap: 170px;
}

.bg-green-171 {
  background-color: rgb(0, 171, 86);
}

.bg-blue-171 {
  background-color: rgb(0, 171, 255);
}

.box-171 {
  height: 271px;
  width: 271px;
}

.gap-171 {
  gap: 171px;
}

.bg-green-172 {
  background-color: rgb(0, 172, 86);
}

.bg-blue-172 {
  background-color: rgb(0, 172, 255);
}

.box-172 {
  height: 272px;
  width: 272px;
}

.gap-172 {
  gap: 172px;
}

.bg-green-173 {
  background-color: rgb(0, 173, 87);
}

.bg-blue-173 {
  background-color: rgb(0, 173, 255);
}

.box-173 {
  height: 273px;
  width: 273px;
}

.gap-173 {
  gap: 173px;
}

.bg-green-174 {
  background-color: rgb(0, 174, 87);
}

.bg-blue-174 {
  background-color: rgb(0, 174, 255);
}

.box-174 {
  height: 274px;
  width: 274px;
}

.gap-174 {
  gap: 174px;
}

.bg-green-175 {
  background-color: rgb(0, 175, 88);
}

.bg-blue-175 {
  background-color: rgb(0, 175, 255);
}

.box-175 {
  height: 275px;
  width: 275px;
}

.gap-175 {
  gap: 175px;
}

.bg-green-176 {
  background-color: rgb(0, 176, 88);
}

.bg-blue-176 {
  background-color: rgb(0, 176, 255);
}

.box-176 {
  height: 276px;
  width: 276px;
}

.gap-176 {
  gap: 176px;
}

.bg-green-177 {
  background-color: rgb(0, 177, 89);
}

.bg-blue-177 {
  background-color: rgb(0, 177, 255);
}

.box-177 {
  height: 277px;
  width: 277px;
}

.gap-177 {
  gap: 177px;
}

.bg-green-178 {
  background-color: rgb(0, 178, 89);
}

.bg-blue-178 {
  background-color: rgb(0, 178, 255);
}

.box-178 {
  height: 278px;
  width: 278px;
}

.gap-178 {
  gap: 178px;
}

.bg-green-179 {
  background-color: rgb(0, 179, 90);
}

.bg-blue-179 {
  background-color: rgb(0, 179, 255);
}

.box-179 {
  height: 279px;
  width: 279px;
}

.gap-179 {
  gap: 179px;
}

.bg-green-180 {
  background-color: rgb(0, 180, 90);
}

.bg-blue-180 {
  background-color: rgb(0, 180, 255);
}

.box-180 {
  height: 280px;
  width: 280px;
}

.gap-180 {
  gap: 180px;
}

.bg-green-181 {
  background-color: rgb(0, 181, 91);
}

.bg-blue-181 {
  background-color: rgb(0, 181, 255);
}

.box-181 {
  height: 281px;
  width: 281px;
}

.gap-181 {
  gap: 181px;
}

.bg-green-182 {
  background-color: rgb(0, 182, 91);
}

.bg-blue-182 {
  background-color: rgb(0, 182, 255);
}

.box-182 {
  height: 282px;
  width: 282px;
}

.gap-182 {
  gap: 182px;
}

.bg-green-183 {
  background-color: rgb(0, 183, 92);
}

.bg-blue-183 {
  background-color: rgb(0, 183, 255);
}

.box-183 {
  height: 283px;
  width: 283px;
}

.gap-183 {
  gap: 183px;
}

.bg-green-184 {
  background-color: rgb(0, 184, 92);
}

.bg-blue-184 {
  background-color: rgb(0, 184, 255);
}

.box-184 {
  height: 284px;
  width: 284px;
}

.gap-184 {
  gap: 184px;
}

.bg-green-185 {
  background-color: rgb(0, 185, 93);
}

.bg-blue-185 {
  background-color: rgb(0, 185, 255);
}

.box-185 {
  height: 285px;
  width: 285px;
}

.gap-185 {
  gap: 185px;
}

.bg-green-186 {
  background-color: rgb(0, 186, 93);
}

.bg-blue-186 {
  background-color: rgb(0, 186, 255);
}

.box-186 {
  height: 286px;
  width: 286px;
}

.gap-186 {
  gap: 186px;
}

.bg-green-187 {
  background-color: rgb(0, 187, 94);
}

.bg-blue-187 {
  background-color: rgb(0, 187, 255);
}

.box-187 {
  height: 287px;
  width: 287px;
}

.gap-187 {
  gap: 187px;
}

.bg-green-188 {
  background-color: rgb(0, 188, 94);
}

.bg-blue-188 {
  background-color: rgb(0, 188, 255);
}

.box-188 {
  height: 288px;
  width: 288px;
}

.gap-188 {
  gap: 188px;
}

.bg-green-189 {
  background-color: rgb(0, 189, 95);
}

.bg-blue-189 {
  background-color: rgb(0, 189, 255);
}

.box-189 {
  height: 289px;
  width: 289px;
}

.gap-189 {
  gap: 189px;
}

.bg-green-190 {
  background-color: rgb(0, 190, 95);
}

.bg-blue-190 {
  background-color: rgb(0, 190, 255);
}

.box-190 {
  height: 290px;
  width: 290px;
}

.gap-190 {
  gap: 190px;
}

.bg-green-191 {
  background-color: rgb(0, 191, 96);
}

.bg-blue-191 {
  background-color: rgb(0, 191, 255);
}

.box-191 {
  height: 291px;
  width: 291px;
}

.gap-191 {
  gap: 191px;
}

.bg-green-192 {
  background-color: rgb(0, 192, 96);
}

.bg-blue-192 {
  background-color: rgb(0, 192, 255);
}

.box-192 {
  height: 292px;
  width: 292px;
}

.gap-192 {
  gap: 192px;
}

.bg-green-193 {
  background-color: rgb(0, 193, 97);
}

.bg-blue-193 {
  background-color: rgb(0, 193, 255);
}

.box-193 {
  height: 293px;
  width: 293px;
}

.gap-193 {
  gap: 193px;
}

.bg-green-194 {
  background-color: rgb(0, 194, 97);
}

.bg-blue-194 {
  background-color: rgb(0, 194, 255);
}

.box-194 {
  height: 294px;
  width: 294px;
}

.gap-194 {
  gap: 194px;
}

.bg-green-195 {
  background-color: rgb(0, 195, 98);
}

.bg-blue-195 {
  background-color: rgb(0, 195, 255);
}

.box-195 {
  height: 295px;
  width: 295px;
}

.gap-195 {
  gap: 195px;
}

.bg-green-196 {
  background-color: rgb(0, 196, 98);
}

.bg-blue-196 {
  background-color: rgb(0, 196, 255);
}

.box-196 {
  height: 296px;
  width: 296px;
}

.gap-196 {
  gap: 196px;
}

.bg-green-197 {
  background-color: rgb(0, 197, 99);
}

.bg-blue-197 {
  background-color: rgb(0, 197, 255);
}

.box-197 {
  height: 297px;
  width: 297px;
}

.gap-197 {
  gap: 197px;
}

.bg-green-198 {
  background-color: rgb(0, 198, 99);
}

.bg-blue-198 {
  background-color: rgb(0, 198, 255);
}

.box-198 {
  height: 298px;
  width: 298px;
}

.gap-198 {
  gap: 198px;
}

.bg-green-199 {
  background-color: rgb(0, 199, 100);
}

.bg-blue-199 {
  background-color: rgb(0, 199, 255);
}

.box-199 {
  height: 299px;
  width: 299px;
}

.gap-199 {
  gap: 199px;
}

.bg-green-200 {
  background-color: rgb(0, 200, 100);
}

.bg-blue-200 {
  background-color: rgb(0, 200, 255);
}

.box-200 {
  height: 300px;
  width: 300px;
}

.gap-200 {
  gap: 200px;
}

.bg-green-201 {
  background-color: rgb(0, 201, 101);
}

.bg-blue-201 {
  background-color: rgb(0, 201, 255);
}

.box-201 {
  height: 301px;
  width: 301px;
}

.gap-201 {
  gap: 201px;
}

.bg-green-202 {
  background-color: rgb(0, 202, 101);
}

.bg-blue-202 {
  background-color: rgb(0, 202, 255);
}

.box-202 {
  height: 302px;
  width: 302px;
}

.gap-202 {
  gap: 202px;
}

.bg-green-203 {
  background-color: rgb(0, 203, 102);
}

.bg-blue-203 {
  background-color: rgb(0, 203, 255);
}

.box-203 {
  height: 303px;
  width: 303px;
}

.gap-203 {
  gap: 203px;
}

.bg-green-204 {
  background-color: rgb(0, 204, 102);
}

.bg-blue-204 {
  background-color: rgb(0, 204, 255);
}

.box-204 {
  height: 304px;
  width: 304px;
}

.gap-204 {
  gap: 204px;
}

.bg-green-205 {
  background-color: rgb(0, 205, 103);
}

.bg-blue-205 {
  background-color: rgb(0, 205, 255);
}

.box-205 {
  height: 305px;
  width: 305px;
}

.gap-205 {
  gap: 205px;
}

.bg-green-206 {
  background-color: rgb(0, 206, 103);
}

.bg-blue-206 {
  background-color: rgb(0, 206, 255);
}

.box-206 {
  height: 306px;
  width: 306px;
}

.gap-206 {
  gap: 206px;
}

.bg-green-207 {
  background-color: rgb(0, 207, 104);
}

.bg-blue-207 {
  background-color: rgb(0, 207, 255);
}

.box-207 {
  height: 307px;
  width: 307px;
}

.gap-207 {
  gap: 207px;
}

.bg-green-208 {
  background-color: rgb(0, 208, 104);
}

.bg-blue-208 {
  background-color: rgb(0, 208, 255);
}

.box-208 {
  height: 308px;
  width: 308px;
}

.gap-208 {
  gap: 208px;
}

.bg-green-209 {
  background-color: rgb(0, 209, 105);
}

.bg-blue-209 {
  background-color: rgb(0, 209, 255);
}

.box-209 {
  height: 309px;
  width: 309px;
}

.gap-209 {
  gap: 209px;
}

.bg-green-210 {
  background-color: rgb(0, 210, 105);
}

.bg-blue-210 {
  background-color: rgb(0, 210, 255);
}

.box-210 {
  height: 310px;
  width: 310px;
}

.gap-210 {
  gap: 210px;
}

.bg-green-211 {
  background-color: rgb(0, 211, 106);
}

.bg-blue-211 {
  background-color: rgb(0, 211, 255);
}

.box-211 {
  height: 311px;
  width: 311px;
}

.gap-211 {
  gap: 211px;
}

.bg-green-212 {
  background-color: rgb(0, 212, 106);
}

.bg-blue-212 {
  background-color: rgb(0, 212, 255);
}

.box-212 {
  height: 312px;
  width: 312px;
}

.gap-212 {
  gap: 212px;
}

.bg-green-213 {
  background-color: rgb(0, 213, 107);
}

.bg-blue-213 {
  background-color: rgb(0, 213, 255);
}

.box-213 {
  height: 313px;
  width: 313px;
}

.gap-213 {
  gap: 213px;
}

.bg-green-214 {
  background-color: rgb(0, 214, 107);
}

.bg-blue-214 {
  background-color: rgb(0, 214, 255);
}

.box-214 {
  height: 314px;
  width: 314px;
}

.gap-214 {
  gap: 214px;
}

.bg-green-215 {
  background-color: rgb(0, 215, 108);
}

.bg-blue-215 {
  background-color: rgb(0, 215, 255);
}

.box-215 {
  height: 315px;
  width: 315px;
}

.gap-215 {
  gap: 215px;
}

.bg-green-216 {
  background-color: rgb(0, 216, 108);
}

.bg-blue-216 {
  background-color: rgb(0, 216, 255);
}

.box-216 {
  height: 316px;
  width: 316px;
}

.gap-216 {
  gap: 216px;
}

.bg-green-217 {
  background-color: rgb(0, 217, 109);
}

.bg-blue-217 {
  background-color: rgb(0, 217, 255);
}

.box-217 {
  height: 317px;
  width: 317px;
}

.gap-217 {
  gap: 217px;
}

.bg-green-218 {
  background-color: rgb(0, 218, 109);
}

.bg-blue-218 {
  background-color: rgb(0, 218, 255);
}

.box-218 {
  height: 318px;
  width: 318px;
}

.gap-218 {
  gap: 218px;
}

.bg-green-219 {
  background-color: rgb(0, 219, 110);
}

.bg-blue-219 {
  background-color: rgb(0, 219, 255);
}

.box-219 {
  height: 319px;
  width: 319px;
}

.gap-219 {
  gap: 219px;
}

.bg-green-220 {
  background-color: rgb(0, 220, 110);
}

.bg-blue-220 {
  background-color: rgb(0, 220, 255);
}

.box-220 {
  height: 320px;
  width: 320px;
}

.gap-220 {
  gap: 220px;
}

.bg-green-221 {
  background-color: rgb(0, 221, 111);
}

.bg-blue-221 {
  background-color: rgb(0, 221, 255);
}

.box-221 {
  height: 321px;
  width: 321px;
}

.gap-221 {
  gap: 221px;
}

.bg-green-222 {
  background-color: rgb(0, 222, 111);
}

.bg-blue-222 {
  background-color: rgb(0, 222, 255);
}

.box-222 {
  height: 322px;
  width: 322px;
}

.gap-222 {
  gap: 222px;
}

.bg-green-223 {
  background-color: rgb(0, 223, 112);
}

.bg-blue-223 {
  background-color: rgb(0, 223, 255);
}

.box-223 {
  height: 323px;
  width: 323px;
}

.gap-223 {
  gap: 223px;
}

.bg-green-224 {
  background-color: rgb(0, 224, 112);
}

.bg-blue-224 {
  background-color: rgb(0, 224, 255);
}

.box-224 {
  height: 324px;
  width: 324px;
}

.gap-224 {
  gap: 224px;
}

.bg-green-225 {
  background-color: rgb(0, 225, 113);
}

.bg-blue-225 {
  background-color: rgb(0, 225, 255);
}

.box-225 {
  height: 325px;
  width: 325px;
}

.gap-225 {
  gap: 225px;
}

.bg-green-226 {
  background-color: rgb(0, 226, 113);
}

.bg-blue-226 {
  background-color: rgb(0, 226, 255);
}

.box-226 {
  height: 326px;
  width: 326px;
}

.gap-226 {
  gap: 226px;
}

.bg-green-227 {
  background-color: rgb(0, 227, 114);
}

.bg-blue-227 {
  background-color: rgb(0, 227, 255);
}

.box-227 {
  height: 327px;
  width: 327px;
}

.gap-227 {
  gap: 227px;
}

.bg-green-228 {
  background-color: rgb(0, 228, 114);
}

.bg-blue-228 {
  background-color: rgb(0, 228, 255);
}

.box-228 {
  height: 328px;
  width: 328px;
}

.gap-228 {
  gap: 228px;
}

.bg-green-229 {
  background-color: rgb(0, 229, 115);
}

.bg-blue-229 {
  background-color: rgb(0, 229, 255);
}

.box-229 {
  height: 329px;
  width: 329px;
}

.gap-229 {
  gap: 229px;
}

.bg-green-230 {
  background-color: rgb(0, 230, 115);
}

.bg-blue-230 {
  background-color: rgb(0, 230, 255);
}

.box-230 {
  height: 330px;
  width: 330px;
}

.gap-230 {
  gap: 230px;
}

.bg-green-231 {
  background-color: rgb(0, 231, 116);
}

.bg-blue-231 {
  background-color: rgb(0, 231, 255);
}

.box-231 {
  height: 331px;
  width: 331px;
}

.gap-231 {
  gap: 231px;
}

.bg-green-232 {
  background-color: rgb(0, 232, 116);
}

.bg-blue-232 {
  background-color: rgb(0, 232, 255);
}

.box-232 {
  height: 332px;
  width: 332px;
}

.gap-232 {
  gap: 232px;
}

.bg-green-233 {
  background-color: rgb(0, 233, 117);
}

.bg-blue-233 {
  background-color: rgb(0, 233, 255);
}

.box-233 {
  height: 333px;
  width: 333px;
}

.gap-233 {
  gap: 233px;
}

.bg-green-234 {
  background-color: rgb(0, 234, 117);
}

.bg-blue-234 {
  background-color: rgb(0, 234, 255);
}

.box-234 {
  height: 334px;
  width: 334px;
}

.gap-234 {
  gap: 234px;
}

.bg-green-235 {
  background-color: rgb(0, 235, 118);
}

.bg-blue-235 {
  background-color: rgb(0, 235, 255);
}

.box-235 {
  height: 335px;
  width: 335px;
}

.gap-235 {
  gap: 235px;
}

.bg-green-236 {
  background-color: rgb(0, 236, 118);
}

.bg-blue-236 {
  background-color: rgb(0, 236, 255);
}

.box-236 {
  height: 336px;
  width: 336px;
}

.gap-236 {
  gap: 236px;
}

.bg-green-237 {
  background-color: rgb(0, 237, 119);
}

.bg-blue-237 {
  background-color: rgb(0, 237, 255);
}

.box-237 {
  height: 337px;
  width: 337px;
}

.gap-237 {
  gap: 237px;
}

.bg-green-238 {
  background-color: rgb(0, 238, 119);
}

.bg-blue-238 {
  background-color: rgb(0, 238, 255);
}

.box-238 {
  height: 338px;
  width: 338px;
}

.gap-238 {
  gap: 238px;
}

.bg-green-239 {
  background-color: rgb(0, 239, 120);
}

.bg-blue-239 {
  background-color: rgb(0, 239, 255);
}

.box-239 {
  height: 339px;
  width: 339px;
}

.gap-239 {
  gap: 239px;
}

.bg-green-240 {
  background-color: rgb(0, 240, 120);
}

.bg-blue-240 {
  background-color: rgb(0, 240, 255);
}

.box-240 {
  height: 340px;
  width: 340px;
}

.gap-240 {
  gap: 240px;
}

.bg-green-241 {
  background-color: rgb(0, 241, 121);
}

.bg-blue-241 {
  background-color: rgb(0, 241, 255);
}

.box-241 {
  height: 341px;
  width: 341px;
}

.gap-241 {
  gap: 241px;
}

.bg-green-242 {
  background-color: rgb(0, 242, 121);
}

.bg-blue-242 {
  background-color: rgb(0, 242, 255);
}

.box-242 {
  height: 342px;
  width: 342px;
}

.gap-242 {
  gap: 242px;
}

.bg-green-243 {
  background-color: rgb(0, 243, 122);
}

.bg-blue-243 {
  background-color: rgb(0, 243, 255);
}

.box-243 {
  height: 343px;
  width: 343px;
}

.gap-243 {
  gap: 243px;
}

.bg-green-244 {
  background-color: rgb(0, 244, 122);
}

.bg-blue-244 {
  background-color: rgb(0, 244, 255);
}

.box-244 {
  height: 344px;
  width: 344px;
}

.gap-244 {
  gap: 244px;
}

.bg-green-245 {
  background-color: rgb(0, 245, 123);
}

.bg-blue-245 {
  background-color: rgb(0, 245, 255);
}

.box-245 {
  height: 345px;
  width: 345px;
}

.gap-245 {
  gap: 245px;
}

.bg-green-246 {
  background-color: rgb(0, 246, 123);
}

.bg-blue-246 {
  background-color: rgb(0, 246, 255);
}

.box-246 {
  height: 346px;
  width: 346px;
}

.gap-246 {
  gap: 246px;
}

.bg-green-247 {
  background-color: rgb(0, 247, 124);
}

.bg-blue-247 {
  background-color: rgb(0, 247, 255);
}

.box-247 {
  height: 347px;
  width: 347px;
}

.gap-247 {
  gap: 247px;
}

.bg-green-248 {
  background-color: rgb(0, 248, 124);
}

.bg-blue-248 {
  background-color: rgb(0, 248, 255);
}

.box-248 {
  height: 348px;
  width: 348px;
}

.gap-248 {
  gap: 248px;
}

.bg-green-249 {
  background-color: rgb(0, 249, 125);
}

.bg-blue-249 {
  background-color: rgb(0, 249, 255);
}

.box-249 {
  height: 349px;
  width: 349px;
}

.gap-249 {
  gap: 249px;
}

.bg-green-250 {
  background-color: rgb(0, 250, 125);
}

.bg-blue-250 {
  background-color: rgb(0, 250, 255);
}

.box-250 {
  height: 350px;
  width: 350px;
}

.gap-250 {
  gap: 250px;
}

.bg-green-251 {
  background-color: rgb(0, 251, 126);
}

.bg-blue-251 {
  background-color: rgb(0, 251, 255);
}

.box-251 {
  height: 351px;
  width: 351px;
}

.gap-251 {
  gap: 251px;
}

.bg-green-252 {
  background-color: rgb(0, 252, 126);
}

.bg-blue-252 {
  background-color: rgb(0, 252, 255);
}

.box-252 {
  height: 352px;
  width: 352px;
}

.gap-252 {
  gap: 252px;
}

.bg-green-253 {
  background-color: rgb(0, 253, 127);
}

.bg-blue-253 {
  background-color: rgb(0, 253, 255);
}

.box-253 {
  height: 353px;
  width: 353px;
}

.gap-253 {
  gap: 253px;
}

.bg-green-254 {
  background-color: rgb(0, 254, 127);
}

.bg-blue-254 {
  background-color: rgb(0, 254, 255);
}

.box-254 {
  height: 354px;
  width: 354px;
}

.gap-254 {
  gap: 254px;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}/*# sourceMappingURL=style.css.map */